In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [2]:
#read data
df = pd.read_csv("./credit_train.csv")
df.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0

In [3]:
#lets check unique values in each of the columns
for col in df.columns:
    print(col+" === ", df[col].unique())

Loan ID ===  ['14dd8831-6af5-400b-83ec-68e61888a048'
 '4771cc26-131a-45db-b5aa-537ea4ba5342'
 '4eed4e6a-aa2f-4c91-8651-ce984ee8fb26' ...
 '81ab928b-d1a5-4523-9a3c-271ebb01b4fb'
 'c63916c6-6d46-47a9-949a-51d09af4414f' nan]
Customer ID ===  ['981165ec-3274-42f5-a3b4-d104041a9ca9'
 '2de017a3-2e01-49cb-a581-08169e83be29'
 '5efb2b2b-bf11-4dfd-a572-3761a2694725' ...
 '3e45ffda-99fd-4cfc-b8b8-446f4a505f36'
 '1b3014be-5c07-4d41-abe7-44573c375886' nan]
Loan Status ===  ['Fully Paid' 'Charged Off' nan]
Current Loan Amount ===  [  445412.   262328. 99999999. ...   100254.   274076.       nan]
Term ===  ['Short Term' 'Long Term' nan]
Credit Score ===  [ 709.   nan  741.  721. 7290.  730.  678.  739.  728.  740.  743.  727.
  723.  747.  687.  750.  714.  724.  704.  688.  749.  746.  737.  729.
  733.  725.  745.  720.  718.  682. 7120.  680.  710.  598.  719. 6610.
  652.  736. 7380.  644.  672. 7370.  699.  751.  694.  675.  657.  748.
  666.  734.  742.  705.  731. 6240.  712.  685.  717.  722.  618.  676.
  692. 7210.  732.  649.  695.  744.  686.  637.  697.  706.  715.  707.
  726.  738. 7500.  716. 7020.  651.  708.  698.  689.  735.  703.  693.
 7080.  645.  691.  673.  700. 7140.  658.  674.  654. 7490.  681.  696.
  713.  668. 7360.  659. 7160.  647.  683.  670.  623.  711.  639.  671.
 6990.  614.  667.  701. 7410. 7310. 7040. 7060.  615. 7200.  656.  653.
  664.  613. 7450. 7300.  636.  702. 7430.  594. 7170.  646. 7000.  669.
 7280. 7090. 6970. 7460. 6920.  612. 7350. 7190.  690. 6690. 6750.  641.
  665.  677.  684.  655. 7010. 6530.  630. 7270.  663.  638.  596. 7420.
  660. 6810.  679. 7070. 7390. 7470.  609.  603. 6670. 6710. 6580. 6940.
 6800. 7110.  661. 7130.  643.  633. 5860. 6960.  629.  648. 7150. 6400.
 6830. 6360. 6650.  625. 6740.  635. 7260. 7480. 6980.  662.  640. 7250.
 7320.  627. 7180. 6640. 6780.  611. 6090.  604.  642. 7240.  621. 6550.
 6900. 6590. 6840. 6660. 7400.  632. 6760. 7340. 6860. 6870. 6680.  602.
 7220.  616.  600. 6460. 6500.  597. 6880. 6540.  622. 6100. 7330.  619.
  624. 7510. 6930. 6430. 6160.  628.  599. 7030. 6630. 7230.  606. 6890.
 6820. 6850. 7100. 6210. 6150. 7440. 6080.  650. 6200. 6570.  626. 6110.
 6560. 6730. 6410.  605. 6310. 5960.  589. 6350.  607. 6470. 6520. 6700.
  608.  631. 6950. 6720. 6290. 6770.  620. 6480. 6380. 7050. 6390.  590.
  634. 6910. 6620. 6370. 6600. 6250.  587.  588.  591.  617.  610. 6450.
 6010.  595.  601.  586. 6490. 6510. 5850.  585. 6300. 6790. 6330. 6130.
 6220. 6440. 6340. 6270. 6260. 6170. 5940. 5950. 6420. 6180.  592. 5900.
 6320. 6230. 6120. 6280.  593. 5920. 6140. 6070. 6190. 5930. 6060. 5890.
 6050.]
Annual Income ===  [1167493.      nan 2231892. ... 2582404. 1190046. 1289416.]
Years in current job ===  ['8 years' '10+ years' '3 years' '5 years' '< 1 year' '2 years' '4 years'
 '9 years' '7 years' '1 year' nan '6 years']
Home Ownership ===  ['Home Mortgage' 'Own Home' 'Rent' 'HaveMortgage' nan]
Purpose ===  ['Home Improvements' 'Debt Consolidation' 'Buy House' 'other'
 'Business Loan' 'Buy a Car' 'major_purchase' 'Take a Trip' 'Other'
 'small_business' 'Medical Bills' 'wedding' 'vacation'
 'Educational Expenses' 'moving' 'renewable_energy' nan]
Monthly Debt ===  [ 5214.74 33295.98 29200.53 ...  7315.57  9890.07      nan]
Years of Credit History ===  [17.2 21.1 14.9 12.   6.1 17.3 19.6  8.2 22.6 13.9 16.  23.2  8.5 13.3
 24.7 19.4 20.5 22.  27.1 22.7 17.4 11.9 15.7 17.5 14.4 22.3 14.  20.
 43.7 18.  15.4 14.6 24.5 14.1 20.6 28.8 16.6 16.7 14.8 14.5 21.6 18.6
 17.8 20.9 17.  15.6 36.6 40.8 11.4  9.2 16.1 15.  18.3 12.1 31.5 19.3
 21.8 15.1 25.6 31.4 29.5 13.8 21.5  6.4 10.5 13.  19.  11.8 28.2 12.2
 44.5 27.4 20.4 22.4 29.1 31.3 17.9 14.2 25.9 14.7 23.3 19.7 10.  19.5
 11.  12.3 13.6 26.5 10.2 16.9  7.  12.5 15.9 10.7 13.4 20.7  9.  23.4
  9.5 34.4 18.4 23.5 14.3 50.1 13.2 33.1 23.9 13.5 43.3 24.  23.  16.2
 29.2 18.2 44.  21.  30.5  7.1  6.6 15.8 16.5 17.6 13.7 36.3 22.5  8.6
 15.5 10.8 18.7 30.9 17.1 16.3  4.9 21.4 11.1 11.7 10.3 18.5  8.7  9.9
 19.2 21.3 22.2 33.7 27.  18.8 13.1 15.2 15.3 21.2 20.8  9.7 11.5  9.3
 19.9 42.4 22.8 35.  24.1 36.4 30.6 12.8 23.8 25.5 38.5 24.4 12.4 10.1
 12.9 18.1 11.3  7.5 16.4 20.2  9.8 23.6 27.2 32.9  8.9 16.8 10.6 26.9
 11.2 40.3 20.1  8.  28.4 21.9 21.7 48.7 32.5  8.8 30.  22.9 26.  35.6
 28.9 12.6 38.  26.3 28.5 31.2 26.4  8.4 35.9 29.   8.3 24.3 25.7 33.5
 33.4 19.8 31.  19.1 30.8 27.7 32.2 38.3 32.4 29.9 22.1 26.7 29.8  9.4
 27.5 27.8  7.7 25.   9.6 10.9 17.7 31.8 12.7 27.6 37.1 37.4 24.2 31.7
 25.2 34.2 18.9  6.8 32.6 27.9 26.1 32.3  7.6 32.1  5.  23.1  5.8  5.5
 34.1 24.6 34.   7.9 10.4 28.1 20.3 24.9 39.  25.8 30.4 35.4  7.8 28.3
 34.3 28.6 38.9 39.4 11.6 32.7  9.1 26.2  6.2  5.4 40.1 28.7 45.3 36.
 29.3 34.5  7.4 33.  37.8  8.1 42.3 25.4 26.8  5.7  6.5  6.  39.6 38.8
 29.7  6.9 30.3  6.7 30.2 28.  26.6 31.9 39.9 24.8 37.  23.7  4.5 35.5
 46.2 42.7 32.8 46.9  4.2 41.5 38.7 29.4 30.7 33.9  7.3  5.3 43.5  5.2
 35.2 38.6  3.7 37.5 31.1 35.8 33.3  6.3 31.6 39.1 30.1 43.2 40.2 40.7
 32.  36.2 47.  25.3 34.9  5.9 34.7 48.9 33.6 39.5 29.6  4.4  7.2 46.3
 42.8 25.1 40.4 38.1 42.  46.  41.  41.1 44.6 42.5 33.2 50.9 41.2 34.8
 48.8 43.8 36.8 33.8 41.9 27.3 43.9 46.8 41.3 41.6 37.2 48.2 37.6 42.6
 41.7 39.3 46.1 46.7 41.4  3.6 38.2 36.5 40.  40.5 36.7  4.8 52.8 42.1
 40.6 35.3  5.6 46.5 37.3 53.2 45.5 42.9 38.4 37.7 44.3  5.1 35.7 34.6
 39.7 51.4  4.3 36.9 35.1 47.5 41.8 39.2 47.4 43.4  4.  39.8 44.1 43.
 37.9 44.4 36.1 48.3 51.  47.3  4.1 43.6 45.  49.9 49.6 49.   4.6 56.5
 43.1 45.1 45.6 65.  47.1 49.4 51.5 54.  46.4  3.9  4.7 47.9 45.8 52.9
 55.8 52.5 49.5 44.7 51.9 40.9  3.8 50.  44.8 48.5 45.4 70.5 42.2 59.5
 56.8 49.3 52.6 48.6 51.6 52.3 59.7 44.2 51.8 50.3 54.5 48.  45.2 47.8
 49.1 60.5 50.6 47.7 45.9 58.  46.6 50.4 50.5 50.8 53.4 57.7 45.7 53.8
 51.7 47.6 59.9 53.1 54.2 52.  57.  48.4 57.5 49.2 56.  50.2 49.8 49.7
 52.2 51.3  nan]
Months since last delinquent ===  [ nan   8.  29.  10.  33.  76.  25.  46.  34.  53.  30.  32.  21.  50.
  20.  24.  15.   6.  13.  48.  69.  42.  35.   7.  27.   5.  26.  17.
  72.  65.   4.  11.  54.  31.  19.  41.  73.  60.  77.  18.   9.  80.
  70.  38.  47.  82.  74.   0.  16.  75.  61.  79.  62.  56.  64.  36.
  39.  59.  55.  37.  58.  68.  22.  45.  14.  51.  49.   1.  81.  63.
  71.  43.  40.  12.  52.   3.  66.  23.  57.  78.  44.   2.  28.  88.
  67.  85.  89. 118.  83. 152. 120.  92.  86.  94. 110.  93.  97.  84.
 130. 129. 106.  90. 107. 176. 108.  87. 139. 143. 114.  91. 104. 115.
 100. 148. 141.  96. 131.]
Number of Open Accounts ===  [ 6. 35. 18.  9. 15. 13.  4. 20. 16. 23. 10.  8.  7. 12. 17.  5. 14. 11.
 34. 22. 19.  2. 32. 21.  3. 25. 28. 24. 43.  1. 30. 27. 26. 36. 31. 29.
 45. 37. 33. 38. 40. 41. 47. 48. 39.  0. 56. 42. 44. 52. 76. nan]
Number of Credit Problems ===  [ 1.  0.  2.  5.  4.  3.  7.  6. 11. 15. 10.  8.  9. 12. nan]
Current Credit Balance ===  [228190. 229976. 297996. ... 804175. 850820.     nan]
Maximum Open Credit ===  [ 416746.  850784.  750090. ... 1287792. 2299198.  892606.]
Bankruptcies ===  [ 1.  0.  2.  3. nan  5.  4.  7.  6.]
Tax Liens ===  [ 0.  1.  2.  4.  3.  6.  5. nan 11. 15.  9.  7. 10.]

In [4]:
#dropping some column which cannot be used for model
df.drop(columns=['Loan ID', 'Customer ID'], axis=1, inplace=True)

In [5]:
# Lets make it a classification problem
df['Loan Status'] = df['Loan Status'].apply(lambda x: 1 if x == "Fully Paid" else 0)

In [6]:
#To get information
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Loan Status,100514.0,7.696540e-01,4.210564e-01,0.0,1.0000,1.0,1.000000e+00,1.000000e+00
Current Loan Amount,100000.0,1.176045e+07,3.178394e+07,10802.0,179652.0000,312246.0,5.249420e+05,1.000000e+08
Credit Score,80846.0,1.076456e+03,1.475404e+03,585.0,705.0000,724.0,7.410000e+02,7.510000e+03
Annual Income,80846.0,1.378277e+06,1.081360e+06,76627.0,848844.0000,1174162.0,1.650663e+06,1.655574e+08
Monthly Debt,100000.0,1.847241e+04,1.217499e+04,0.0,10214.1625,16220.3,2.401206e+04,4.358433e+05
Years of Credit History,100000.0,1.819914e+01,7.015324e+00,3.6,13.5000,16.9,2.170000e+01,7.050000e+01
Months since last delinquent,46859.0,3.490132e+01,2.199783e+01,0.0,16.0000,32.0,5.100000e+01,1.760000e+02
Number of Open Accounts,100000.0,1.112853e+01,5.009870e+00,0.0,8.0000,10.0,1.400000e+01,7.600000e+01
Number of Credit Problems,100000.0,1.683100e-01,4.827050e-01,0.0,0.0000,0.0,0.000000e+00,1.500000e+01
Current Credit Balance,100000.0,2.946374e+05,3.761709e+05,0.0,112670.0000,209817.0,3.679588e+05,3.287897e+07
Maximum Open Credit,99998.0,7.607984e+05,8.384503e+06,0.0,273438.0000,467874.0,7.829580e+05,1.539738e+09
Bankruptcies,99796.0,1.177402e-01,3.514238e-01,0.0,0.0000,0.0,0.000000e+00,7.000000e+00
Tax Liens,99990.0,2.931293e-02,2.581824e-01,0.0,0.0000,0.0,0.000000e+00,1.500000e+01

In [7]:
#little bit changes required specific to any columns
df['Years in current job'] =df['Years in current job'].str.replace(r'[^\d.]+', '')
df['Years in current job']=pd.to_numeric(df['Years in current job'])
df['Years in current job']

0          8.0
1         10.0
2          8.0
3          3.0
4          5.0
          ...
100509     NaN
100510     NaN
100511     NaN
100512     NaN
100513     NaN
Name: Years in current job, Length: 100514, dtype: float64

In [8]:
#find out numerical and categorical columns
numerical_columns = df._get_numeric_data()
categorical_columns = list(set(df.columns)-set(numerical_columns.columns))

In [9]:
#treating missing value
# from sklearn.impute import SimpleImputer
df[numerical_columns.columns.to_list()] = SimpleImputer(strategy='median').fit_transform(df[numerical_columns.columns.to_list()])
df[numerical_columns.columns.to_list()]

,Loan Status,Current Loan Amount,Credit Score,Annual Income,Years in current job,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,1.0,445412.0,709.0,1167493.0,8.0,5214.74,17.2,32.0,6.0,1.0,228190.0,416746.0,1.0,0.0
1,1.0,262328.0,724.0,1174162.0,10.0,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,1.0,99999999.0,741.0,2231892.0,8.0,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,1.0,347666.0,721.0,806949.0,3.0,8741.90,12.0,32.0,9.0,0.0,256329.0,386958.0,0.0,0.0
4,1.0,176220.0,724.0,1174162.0,5.0,20639.70,6.1,32.0,15.0,0.0,253460.0,427174.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100509,0.0,312246.0,724.0,1174162.0,6.0,16220.30,16.9,32.0,10.0,0.0,209817.0,467874.0,0.0,0.0
100510,0.0,312246.0,724.0,1174162.0,6.0,16220.30,16.9,32.0,10.0,0.0,209817.0,467874.0,0.0,0.0
100511,0.0,312246.0,724.0,1174162.0,6.0,16220.30,16.9,32.0,10.0,0.0,209817.0,467874.0,0.0,0.0
100512,0.0,312246.0,724.0,1174162.0,6.0,16220.30,16.9,32.0,10.0,0.0,209817.0,467874.0,0.0,0.0
100513,0.0,312246.0,724.0,1174162.0,6.0,16220.30,16.9,32.0,10.0,0.0,209817.0,467874.0,0.0,0.0

In [10]:
#missing values in categorical columns. Lets add another value as "unknown"
df[categorical_columns].fillna("unknown")

                   Purpose        Term Home Ownership
0        Home Improvements  Short Term  Home Mortgage
1       Debt Consolidation  Short Term  Home Mortgage
2       Debt Consolidation  Short Term       Own Home
3       Debt Consolidation   Long Term       Own Home
4       Debt Consolidation  Short Term           Rent
...                    ...         ...            ...
100509             unknown     unknown        unknown
100510             unknown     unknown        unknown
100511             unknown     unknown        unknown
100512             unknown     unknown        unknown
100513             unknown     unknown        unknown

[100514 rows x 3 columns]

In [11]:
print("Numerical columns in the dataframe :",numerical_columns.columns)

Numerical columns in the dataframe : Index(['Loan Status', 'Current Loan Amount', 'Credit Score', 'Annual Income',
       'Years in current job', 'Monthly Debt', 'Years of Credit History',
       'Months since last delinquent', 'Number of Open Accounts',
       'Number of Credit Problems', 'Current Credit Balance',
       'Maximum Open Credit', 'Bankruptcies', 'Tax Liens'],
      dtype='object')

In [12]:
print("Categorical columns in the dataframe :",categorical_columns)

Categorical columns in the dataframe : ['Purpose', 'Term', 'Home Ownership']

#### Feature Selection

I have both categorical and numerical columns.
For categorical, I need to convert it to numerical first using Label Encoder, after that we will do one hot encoding.

In [14]:
from sklearn.preprocessing import LabelEncoder
from collections import defaultdict


le_dict  = defaultdict(LabelEncoder)
df[categorical_columns] = df[categorical_columns].apply(lambda x: le_dict[x.name].fit_transform(x.astype(str)))

### chi-square test

In [15]:
y = df['Loan Status']
X = df.loc[:, df.columns!='Loan Status']

In [16]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

def sel_feat_chi2(df, target, k):
    chi2_features = SelectKBest(chi2, k=k)
    best_features = chi2_features.fit(df, target)
    chi_sq = pd.DataFrame(best_features.scores_, columns=["chi_square"], index=df.columns)
    chi_sq = chi_sq.reset_index()
    chi_sq.sort_values('chi_square', ascending=False)
    return chi_sq
    
chi_sq = sel_feat_chi2(X, y, 5)
chi_sq

                           index    chi_square
0            Current Loan Amount  3.327568e+11
1                           Term  1.895114e+02
2                   Credit Score  2.774850e+07
3                  Annual Income  2.010678e+08
4           Years in current job  7.263417e+00
5                 Home Ownership  2.504534e+02
6                        Purpose  1.256894e+02
7                   Monthly Debt  3.001450e+04
8        Years of Credit History  1.722778e+02
9   Months since last delinquent  8.167487e+01
10       Number of Open Accounts  2.138436e+01
11     Number of Credit Problems  1.203955e-01
12        Current Credit Balance  6.575888e+06
13           Maximum Open Credit  6.943608e+08
14                  Bankruptcies  9.894358e+00
15                     Tax Liens  1.880669e+01

Here I can see the feature importance myself and using my analytics skill, I can choose among them.

#### Using RandomForestClassifier

In [26]:
from sklearn.ensemble import RandomForestClassifier
def sel_feat_RF(df, target):
    clf = RandomForestClassifier()
    clf.fit(df, target)
    RF_feat = pd.DataFrame(clf.feature_importances_, columns = ["RF"], index = df.columns)
    RF_feat.reset_index(inplace=True)
    RF_feat.sort_values(['RF'], ascending = False)
    return RF_feat
RF_feat =sel_feat_RF(X, y)
RF_feat

                           index        RF
0            Current Loan Amount  0.124941
1                           Term  0.017517
2                   Credit Score  0.211613
3                  Annual Income  0.077671
4           Years in current job  0.038588
5                 Home Ownership  0.020648
6                        Purpose  0.021966
7                   Monthly Debt  0.093223
8        Years of Credit History  0.085047
9   Months since last delinquent  0.051321
10       Number of Open Accounts  0.056675
11     Number of Credit Problems  0.008502
12        Current Credit Balance  0.090654
13           Maximum Open Credit  0.092067
14                  Bankruptcies  0.006526
15                     Tax Liens  0.003043

In [27]:
# Combine the dataframe from all and first select what method to be selected for this job
from functools import reduce
dfs = [chi_sq, RF_feat]
final_results = reduce(lambda left, right: pd.merge(left, right, on='index'), dfs)
final_results

                           index    chi_square        RF
0            Current Loan Amount  3.327568e+11  0.124941
1                           Term  1.895114e+02  0.017517
2                   Credit Score  2.774850e+07  0.211613
3                  Annual Income  2.010678e+08  0.077671
4           Years in current job  7.263417e+00  0.038588
5                 Home Ownership  2.504534e+02  0.020648
6                        Purpose  1.256894e+02  0.021966
7                   Monthly Debt  3.001450e+04  0.093223
8        Years of Credit History  1.722778e+02  0.085047
9   Months since last delinquent  8.167487e+01  0.051321
10       Number of Open Accounts  2.138436e+01  0.056675
11     Number of Credit Problems  1.203955e-01  0.008502
12        Current Credit Balance  6.575888e+06  0.090654
13           Maximum Open Credit  6.943608e+08  0.092067
14                  Bankruptcies  9.894358e+00  0.006526
15                     Tax Liens  1.880669e+01  0.003043

In [28]:
#provide a method name and threshold to select features
select_using_method = 'RF'
threshold = 0.001
selected_features = final_results[final_results[select_using_method]>=threshold]['index']
selected_features

0              Current Loan Amount
1                             Term
2                     Credit Score
3                    Annual Income
4             Years in current job
5                   Home Ownership
6                          Purpose
7                     Monthly Debt
8          Years of Credit History
9     Months since last delinquent
10         Number of Open Accounts
11       Number of Credit Problems
12          Current Credit Balance
13             Maximum Open Credit
14                    Bankruptcies
15                       Tax Liens
Name: index, dtype: object

# Hope it helps

## Thanks